- content_for :scripts do
  = javascript_pack_tag 'auto_test_projects'
- content_for :styles do
  = stylesheet_pack_tag 'auto_test_projects'

#auto-test-projects{':style': "{height: height + 'px'}"}
  - if auto_test_projects.length == 0
    .no-result 暂无结果
  .project-list
    - auto_test_projects.each do |project|
      %el-card.project-card{shadow: 'always', ':body-style': "{ padding: '10px' }"}
        .project-info
          .project-title
            %a{href: auto_test_project_path(project)}
              = project.name
          .project-attrs
            %p.limit-lines
              = project.description

:css
  #auto-test-projects {
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
    overflow: auto;
  }

  #auto-test-projects > * {
    margin: 10px 0;
  }

  .project-card {
    padding: 10px 0;
  }

  .no-result {
    text-align: center;
    font-style: italic;
  }

  .project-title {
    margin-bottom: 14px;
    font-size: 26px;
  }

  .project-info {
    padding: 10px;
  }

  .limit-lines {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin: 5px 0;
  }
