- content_for :scripts do
  = javascript_pack_tag 'test_records'
- content_for :styles do
  = stylesheet_pack_tag 'test_records'

#test-records
  %test-records{data: {records: student_test_records, endpoint: classroom_auto_test_project_path}}


:css
  #test-records {
    overflow: auto;
  }