- content_for :scripts do
  = javascript_pack_tag 'blogs'
- content_for :styles do
  = stylesheet_pack_tag 'blogs'

#blogs-app.small-container{data: {issues: issues_data, blogs: blogs_data}}
  #blog-filter.clearFloat
    %el-radio-group.filter-item{'v-model': 'searchParams.type', size: 'mini'}
      %el-radio-button{'label': 'blog'}
        博客
      %el-radio-button{'label': 'daily_scrum'}
        Daily Scrum
      %el-radio-button{'label': 'all'}
        所有
    %el-radio-group.filter-item{'v-model': 'searchParams.scope', size: 'mini'}
      %el-radio-button{'label': 'my'}
        我的
      %el-radio-button{'label': 'all'}
        所有
    %el-button-group.floatRight
      %a.el-button.el-button--mini{href: new_classroom_blog_path(type: 'blog')}
        新建博客
      %a.el-button.el-button--mini{href: new_classroom_blog_path(type: 'daily_scrum')}
        新建 Daily Scrum
  .blogs{':style': 'loadingStyle', 'v-loading': 'loading', 'element-loading-text': '加载中'}
    %el-card{shadow: 'never', 'v-for': "(blog, index) in blogs", ':key': 'index', class: 'blog-card', ':body-style': "{ padding: '10px' }"}
      .blog-info
        .blog-title
          %a{':href': "'#{classroom_path(id: params[:classroom_id])}' + '/blogs/' + blog.id"}
            {{ blog.title }}
          %el-tag{style: "{margin: 4px}", ':type': 'blogTagType(blog.type)', size: 'mini'}
            {{ blog.type }}
          %el-badge.floatRight{':value': 'blog.comments_count', 'type': 'primary'}
            %a.el-button.el-button--mini{':href': "'#{classroom_path(id: params[:classroom_id])}' + '/blogs/' + blog.id + '#comments'"}
              %i{class: 'iconfont icon-comments'}
        .blog-attrs.clearFloat
          %i{class: "iconfont icon-xiangmu"}
          %span{title: "项目"}
            {{ blog.project_name }}
          %i{class: 'el-icon-date'}
          %span{title: '创建时间'}
            {{ dateStr(blog.created_at) }}
          %span.author
            %img{':title': "'作者: ' + blog.author.username", ':src': "blog.author.avatar_url"}
            %a{':href': 'blog.author.web_url'}
              {{ blog.author.name }}

:css
  #blog-filter {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
  }

  .filter-item {
    margin: 0 10px;
  }

  #blogs-app > .blogs {
    margin-top: 10px;
  }

  .blog-card {
    margin: 10px;
  }

  .blog-title {
    margin-bottom: 14px;
    font-size: 26px;
  }

  .blog-info {
    padding: 10px;
  }

  .blog-attrs > * {
    font-size: 20px;
  }

  .author {
    float: right;
  }

  .author > img {
    width: 20px;
    height: 20px;
  }

  .blogs .el-scrollbar__wrap {
    overflow-x: hidden;
  }