- content_for :scripts do
  = javascript_pack_tag 'blogs'
- content_for :styles do
  = stylesheet_pack_tag 'blogs'

#blogs-app{data: {issues: issues_data, blogs: blogs_data}}
  #blog-filter.clearFloat
    %el-radio-group.filter-item{'v-model': 'searchParams.type', size: 'mini'}
      %el-radio-button{'label': 'blog'}
        博客
      %el-radio-button{'label': 'daily_scrum'}
        Daily Scrum
      %el-radio-button{'label': 'all'}
        所有
    %el-radio-group.filter-item{'v-model': 'searchParams.scope', size: 'mini'}
      %el-radio-button{'label': 'my'}
        我的
      %el-radio-button{'label': 'all'}
        所有
    %el-dropdown.choose-project{'@command': 'chooseProject'}
      %span.el-dropdown-link
        {{ projectText }}
        %i.el-icon-arrow-down.el-icon--right
      %el-dropdown-menu{slot: 'dropdown'}
        %el-dropdown-item{command: 'all'}
          所有
        %el-dropdown-item{'v-for': "(project, index) in projects", ':key': 'index', ':command': 'project.id'}
          {{ project.name }}
    %el-button-group.floatRight
      %el-button{ size: 'mini'}
        %a{href: '/blogs/new?type=blog'}
          新建博客
      %el-button{size: 'mini'}
        %a{href: '/blogs/new?type=daily_scrum'}
          新建 Daily Scrum
  .blogs{':style': "{height: blogsHeight + 'px'}", 'v-loading': 'loading', 'element-loading-text': '加载中'}
    %el-scrollbar{style: "height: 100%"}
      %el-card{shadow: 'always', 'v-for': "(blog, index) in blogs", ':key': 'index', class: 'blog-card', ':body-style': "{ padding: '10px' }"}
        .blog-info
          .blog-title
            %a{':href': "'/projects/' + blog.project_id + '/blogs/' + blog.id"}
              {{ blog.title }}
            %el-tag{style: "{margin: 4px}", ':type': 'blogTagType(blog.type)', size: 'mini'}
              {{ blog.type }}
            %el-badge.floatRight{':value': 'blog.comments_count', 'type': 'primary'}
              %el-button{size: 'mini'}
                %a{':href': "'/projects/' + blog.project_id + '/blogs/' + blog.id + '#comments'"}
                  %i{class: 'iconfont icon-comments'}
          .blog-attrs.clearFloat
            %i{class: "iconfont icon-xiangmu"}
            %span{title: "项目"}
              {{ getProjectName(blog.project_id) }}
            %i{class: 'el-icon-date'}
            %span{title: '创建时间'}
              {{ dateStr(blog.created_at) }}
            %span.author
              %img{':title': "'作者: ' + blog.author.username", ':src': "blog.author.avatar_url"}
              %a{href: 'blog.author.web_url'}
                {{ blog.author.name }}

:css
  #blogs-app > * {
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
    overflow-x: auto;
  }

  #blog-filter {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
  }

  .filter-item {
    margin: 0 10px;
  }

  .choose-project {
    line-height: 2;
  }

  .el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }
  .el-icon-arrow-down {
    font-size: 15px;
  }

  #blogs-app > .blogs {
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    margin-top: 10px;
  }

  .blog-card {
    margin: 10px;
  }

  .blog-title {
    margin-bottom: 14px;
    font-size: 26px;
  }

  .blog-info {
    padding: 10px;
  }

  .blog-attrs > * {
    font-size: 20px;
  }

  .author {
    float: right;
  }

  .author > img {
    width: 20px;
    height: 20px;
  }

  .blogs .el-scrollbar__wrap {
    overflow-x: hidden;
  }