- content_for :scripts do
  = javascript_pack_tag 'new_blog'
- content_for :styles do
  = stylesheet_pack_tag 'new_blog'

#new-blog-app.small-container{data: {blogs: new_blog_data}, 'v-loading': 'loading', 'element-loading-text': '加载中'}
  .page-title-holder
    .page-title 创建博客
  %el-form{ref: 'newBlogForm', 'v-if': 'blog', ':model': 'blog', ':rules': 'rules', 'label-width': '80px', action: classroom_blogs_path, method: 'post'}
    -# 项目 | 冲刺
    %el-form-item{':label': 'blogContainerName', 'prop': 'project_id'}
      %el-select{'v-model': 'containerId', '@change': 'chooseContainer', ':placeholder': 'blogContainerPlaceholder'}
        %el-option{'v-for': '(container, index) in containers', ':label': 'container.name', ':value': 'container.id', ':key': 'index'}
      %input{':value': 'blog.project_id', name: 'blog[project_id]', style: 'display: none'}
    %el-form-item{label: '标题', 'prop': 'title'}
      %el-input{'v-model': 'blog.title', name: 'blog[title]'}
    %el-form-item{label: '内容', 'prop': 'code'}
      %md-wrapper.md-editor{'v-model': 'blog.code', ':editable': "containerId !== null", ':placeholder': 'mdPlaceholder', ':project-id': 'blog.project_id', ':cant-save': 'true'}
      %input{':value': 'blog.file_name', name: 'blog[file_name]', style: 'display: none'}
      %textarea{':value': 'blog.code', name: 'blog[code]', style: 'display: none'}
    %el-form-item.clearFloat
      %a.el-button{href: classroom_blogs_path} 取消
      %el-button-group.floatRight
        %el-button{type: 'primary', '@click': 'createBlog'} 创建
        %el-button{type: 'success', 'v-if': "type === 'daily_scrum'", '@click': 'createBlogWithBurndown', ':loading': 'isChartButtonLoading'} 生成当前燃尽图并创建
  %el-dialog{':visible.sync': 'chartVisible', ':fullscreen': 'true'}
    .burnchart{'v-if': "type === 'daily_scrum'"}
      .change-tab
        %el-radio-group{'v-model': 'yAxisOption', '@change': 'changeYAxis', 'size': 'mini'}
          %el-radio-button{'label': '任务数'}
          %el-radio-button{'label': '权重'}
      %v-chart{':options': 'burnOption', 'ref': 'burnChart'}
    .dialog-footer{slot: 'footer'}
      %el-button{'@click': 'chartVisible = false'} 取消
      %el-button{'type': 'primary', '@click': 'createChart'} 确认生成并创建 Daily Scrum

:css
  .burnchart {
    overflow: auto;
  }

  .echarts {
    width: 100%;
  }

  .change-tab {
    margin: 10px auto;
  }