- content_for :scripts do
  = javascript_pack_tag 'new_blog'
- content_for :styles do
  = stylesheet_pack_tag 'new_blog'

#new-blog-app{data: {issues: issues_data, blogs: new_blog_data}, 'v-loading': 'loading', 'element-loading-text': '加载中', ':style': "{height: height + 'px'}"}
  %el-form{ref: 'newBlogForm', 'v-if': 'blog', ':model': 'blog', ':rules': 'rules', 'label-width': '80px'}
    -# 项目 | 冲刺
    %el-form-item{':label': 'blogContainerName', 'prop': 'project_id'}
      %el-select{'v-model': 'containerId', '@change': 'chooseContainer', ':placeholder': 'blogContainerPlaceholder'}
        %el-option{'v-for': '(container, index) in containers', ':label': 'container.name', ':value': 'container.id', ':key': 'index'}
    %el-form-item{label: '标题', 'prop': 'title'}
      %el-input{'v-model': 'blog.title'}
    %el-form-item{label: '内容', 'prop': 'code'}
      %md-wrapper.md-editor{'v-model': 'blog.code', ':editable': "containerId !== null", ':placeholder': 'mdPlaceholder', ':project': 'blog.project_id', ':cant-save': 'true'}
    %el-form-item.clearFloat
      %el-button
        %a{href: '/blogs'} 取消
      %el-button-group.floatRight
        %el-button{type: 'primary', '@click': 'createBlog'} 创建
        %el-button{type: 'success', 'v-if': "type === 'daily_scrum'", '@click': 'createBlogWithBurndown', ':loading': 'isChartButtonLoading'} 生成当前燃尽图并创建
  %el-dialog{':visible.sync': 'chartVisible', ':fullscreen': 'true'}
    .burnchart{'v-if': "type === 'daily_scrum'"}
      .change-tab
        %el-radio-group{'v-model': 'yAxisOption', '@change': 'changeYAxis', 'size': 'mini'}
          %el-radio-button{'label': '任务数'}
          %el-radio-button{'label': '权重'}
      %v-chart{':options': 'burnOption', 'ref': 'burnChart'}
    .dialog-footer{slot: 'footer'}
      %el-button{'@click': 'chartVisible = false'} 取消
      %el-button{'type': 'primary', '@click': 'createChart'} 确认生成并创建 Daily Scrum

:css
  #new-blog-app {
    overflow-y: auto;
  }

  #new-blog-app > * {
    width: 80%;
    margin: 20px auto;
    min-width: 500px;
  }

  #new-blog-app .md-editor {
    min-height: 350px;
  }

  .burnchart {
    overflow: auto;
  }

  .echarts {
    width: 100%;
  }

  .change-tab {
    margin: 10px auto;
  }