- content_for :scripts do
  = javascript_pack_tag 'show_blog'
- content_for :styles do
  = stylesheet_pack_tag 'show_blog'

#show-blog-app{data: {issues: issues_data, blog: current_blog, blogs: blogs_data, comments: comments_data}, 'v-loading': 'loading', 'element-loading-text': '加载中'}
  .root.small-container{'v-if': 'blog'}
    .blog-title.clearFloat
      %el-row
        %el-col{':span': 18}
          %el-input#blog-title.big-label{'v-if': 'policy.title && blog.can_edit', 'v-model': 'blog.title', '@blur': "update('title')"}
          %label.big-label{'v-else': 'policy.title', '@click': "openPolicy('title')"}
            {{ blog.title }}
        %el-col{':span': 6}
          %el-button.floatRight{'v-if': 'blog.can_edit', type: 'danger', '@click': 'deleteBlog', ':loading': 'deleteLoading'}
            删除
    .block-title.clearFloat
      %span.author
        %img{':title': "'作者: ' + blog.author.username", ':src': "blog.author.avatar_url"}
        %a{href: 'blog.author.web_url'}
          {{ blog.author.name }}
      %span.light
        创建于 {{ dateStr(blog.created_at) }}
        更新于 {{ dateStr(blog.updated_at) }}
      %i.el-icon-loading{'v-if': 'codeLoading'}
      %i.el-icon-edit.icon-button.floatRight{'@click': "openPolicy('code')", 'v-if': 'blog.can_edit'}
    %md-wrapper{'v-if': 'blog', 'v-model': 'blog.code', '@save': "update('code')", ':project-id': 'blog.project_id', ':project-url': 'blog.project_url', ':preview': '!policy.code', ':box-shadow': 'false'}

    #comments
      .block-title
        %span.light 评论
        %i.el-icon-loading{'v-if': 'commentsLoading'}
      %el-card{'v-for': "(comment, index) in comments", ':key': 'index', 'shadow': 'never', ':body-style': "{padding: '16px'}"}
        .comment-card
          .commenter
            %a{':href': 'comment.author.web_url'}
              %img{':src': 'comment.author.avatar_url'}
          .comment-body
            .comment-title.clearFloat{'v-if': 'isPreview(comment.id)'}
              %span {{ comment.author.name }}
              %span.light @{{ comment.author.username }}
              %span.light {{ timeStr(comment.created_at) }}
              %span.comment-action.floatRight{'v-if': 'comment.can_edit'}
                %i.el-icon-edit.icon-button{'@click': 'editComment(comment.id)'}
                %i.el-icon-delete.icon-button.danger-icon{'@click': 'deleteComment(comment.id)'}
            .comment-content
              %md-wrapper{'v-model': 'comment.body', ':cant-save': 'true', ':border': 'false', ':project-id': 'blog.project_id', ':project-url': 'blog.project_url', ':preview': 'isPreview(comment.id)', ':box-shadow': 'false', 'func': 'mini'}
              .comment-buttons.clearFloat{'v-if': '!isPreview(comment.id)'}
                %el-button{'@click': 'currentEditComment = null'}
                  取消
                %el-button.floatRight{type: 'primary', '@click': 'updateComment'}
                  评论

    .new-comment
      .comment-card
        .commenter
          %a{href: current_user.web_url}
            %img{src: current_user.avatar_url}
        .comment-body
          %md-wrapper{'v-model': 'n_comment.body', ':cant-save': 'true', ':project-id': 'blog.project_id', ':project-url': 'blog.project_url', 'func': 'mini'}
          .comment-buttons.clearFloat
            %el-button.floatRight{type: 'primary', '@click': 'newComment'}
              评论


:css
  #show-blog-app {
    overflow-y: auto;
  }

  .root > * {
    margin: 20px auto;
    min-width: 500px;
  }

  .big-label {
    font-size: 26px;
    font-weight: 600;
  }

  .block-title {
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  .icon-button {
    padding: 5px;
    cursor: pointer;
  }

  .author > img {
    width: 16px;
    height: 16px;
  }

  .light {
    font-style: italic;
    font-size: 16px;
    color: #909399;
  }

  #comments > * {
    margin: 16px 0;
   }

  .comment-card {
    display: table-row;
  }

  .comment-card > * {
    display: table-cell;
    vertical-align: top;
  }

  .commenter img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .comment-body {
    width: 100%;
  }

  .comment-content {
    margin-top: 10px;
  }

  .comment-buttons {
    margin-top: 10px;
  }

  .danger-icon {
    color: #f56c6c;
  }
