@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1555314736829'); /* IE9 */
  src: url('iconfont.eot?t=1555314736829#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAArUAAsAAAAAE6wAAAqFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFIgqWaJJBATYCJANECyQABCAFhG0HgXMbmBAjEbaLsrIm+2dCvL3H6HS2uWtvWowR7aOJxpp8/nGz/iYvSJOgVaFip0MZU5bSMUOquu0oI07Y9bD7tc6YQLumdFQ6jnxTVkTAwDZ74VlDKEMAbk5zL0AMSCZ82k0nbZZsK8PKyXLG8TJchApgAex8+7nqFopu3hYSoa6lf/Mz3r8Nm3jaUEkmiQqJaBrFvKlGMqREqRkT8eqlezjpyAd8MlAAWGQoRVVULrNADgaMKFTr7e5shjxlAlOTSEGeJS3ZkdFQv4MEcvpZegLAb/3fpz6CITlAQ0LAp1rVYW7Dggj90e+IEBVQRwS4lmcG0F4MIABKAUybPijlJwBMDZMJ2LoMDgNIo6bL8hE6IonwkfhIXsQYWRbpjHRH/JG776366HfRKDXKmQgXsrJlbKaQJsozZOGcLUuMgeRfPBUI5JBBASVYqPHgIAUNUFIQ5hF6r1ANEdoWgAEicogBIhIEn3BgoEB4MKhA4sFAQPLAIAcxgkEGsgwMCpBOMChBusHAgvih3hZyF3LggfdWMnCarIIcpMBHv7OABmONu0MOwAwQEWBeAegevywBDQUowbIrAxNg5h4DoYHnxMwYJnJ6jCrwJyWpKYUcluc1Sk4il7KKDF3+ZDVh1LFMaQxPl41nFQxD8TwVxzLSvBh+t+aET/Dmqk+OusaqNe5YGasW77wnGLTuL+VOnEkOBhP2T7QiU5Rv3cnoC9s95wq4lzLCYesb54Uz7nOui1aOsHM5mvXPC7b17YeuB9PEXNtY5sEH4r204WTLKDs5gnB/qrvA6sWB++6HmSMp9hN5KiBtMbtwWjzrOuc+s8vjqIbm9pP+XtGLgrfW1bHWcdTiN7eDoywsxW2wj7nOioWFxE05Dbp4tI5QZPW5eyze7bKUlNBb56ZIkW8b/2KxbVRs7hh1lXSOuYvafUJhm1esZYXhE+5THtfISfH4kDWVucm9OxCwHItS4bA9FNphoC0AyVcOBGpZyjUg9gH9HOcedA3sdp8BndiWyItnUySFZcyRoFnRSY6GKusLrXZblpWycDbY2+Is9k7rmhItRfY4e0u/D/CKownU4Jitvz/xlIcKWYPWoTn3gOF4LES51j6kQrZQzzsBPgIEo+/2TKt+MLGgZOqJK5w7rKJcoRQx0HojGCUEjsW+NW2aJZB7fCDRU1IyEJr3UohyTbehO7izvz9+NYTBeAhxcX3mMCdPJlwNzXvjMiuGbNy18MKw/dzQR7mOpry7KJXV9YxjZ7YpbGe9yaJL1bg8g6fcJ/qHhaG+4+LJgYSEATtbwzkCgbQbCwHb5w8vJTdDG3DAYGARPRbmwuHMmyHdsbD5SjD7cGCKWbxJ9Ao+95hrtGHg+NBJYImn4uhmMYiru5sX+4T+eMXg8XZa+D5cfy2fEApN4UUvGMGXpzk1lioZGd018vZULngjOZ3feeCdaco3RnVE5T6Q1suBhW2iWs8psZ3fhmd2cUvjgBhnsQ2c9A7FW3sHHEy0D47sVMsU4BkV4RqtbbYNLCVGReNNZCpQ3VAEi7CBpRYHAs2ibRuUuHwsW1TuRkg5wwGkplQT2nPaYYI1x6qea9Ik+A6NS2yI7si+YLYN0egz1dhILVJae/91ad3cr1O3aolKP6pXEW2bG2267tK/eq1KalFj46I1+s8XReV5PseC6f77/liH6LiS45/p1zq+cvz63UbrasvG+MTtxxfTMvNqq4wPWquaMpNnbT32rFRmXaWMG+NqgnWKXMhWteFe0qxtZZvrk2BAue0zaJxyeADu7GpB5Vf53BB95iY5f13csP99f47jmOPy1iH/UO5WxxoHSrVPPqUr7yg3DEXSc2blpEeGDCmDbjBMgwEPPi4vfWm20ylWiI7DW+ENlzNnB0r412YnzH4tyV0myJXwR2cnzj6apHoUc8XJ2sgiC84wP//MaMMZAtDHtbj/mk6Qv/+dwHBCA+j1AqmHvP/io0lR/mcy8pfDhRGvnZO+Pd26Qfztt4nWlfD/71j/C4xGZA8dbIBxATVlMfbu6Wjfu/eLutosc0V2XV021e7IqcjYvz8jLq4Yfp6pHf31TZ8wmuCo1XX3JN7TKORKTar+arzmyV9iPj6Mx2i6u415REablv/ztD6bEj6HQCUWPn21jNnrZH5PI/+n/yzRz1iQasqfUVXSQJvzDvzpePH3lZc6E2e0aOtyl+qnG9NMSw0/fUG0cX1eu7azWTsw/alao9Giq20E53H4JpsmOZMfWXA8ZI9fHntBXbu8KaUsaXt9UVvKspLJuirj2jrjxjJnypPO1OQ/Lp/hMe2QMmpDvkSnM+n1sQ8De1vK7jFvZ7ecKFtSNn/jevXczlSL8XDlkkmW5LpJ6U8+HTbPn740bQ2S07Jm0pLK+adO3Exwfa8Xn/uTTWqre1p1Crv5rwVJ029tjt08MS0p4eMZhaSqaxlrbIGqfAfdVXksvqw24dHV83ro5RXqnin2nBHdlGptz0rT+hUmj4ueXMd835RuaqLXVD4+rawxFKmetXV75So5NX3p7UfbxbGbcePF/iJ/8Xjcy+f3RFLf23O+fKTQE25S1l1NuVqn1Hs6m6P89wcfjzmtGRceF8a14/JXSQPOXbTdk7As2bRSv6Ar8dczeWW/Nmk3fioplH5qODxZIbvwjwq43zp/sXxNHq9reuzedeq9P5cHdf46M0duNNdGVHaIPHxIDgn/MODwh0lLHZd/eHjJWeann65J808/n/VMP/1Mhp+cVx43+dJHXnmnyeG52Frq2fmHF9Tk3vBE0MNh5nmnZ/+d1p5QsKdVmmw2X7lsrsh6oeV2uHUmAIb/v2qiZGLVROuAk7F518ttRW2Fu17Bps7qXnrz4MAmWjiUpjf3VndiU9kB2grbina9jM2bDSkz6U2Dg5so4ogLy26+OpEwUXprIfVulU7AeU4Ae8k9kuov+hIBEL1GzpJZgIEOO4AkoqPkT6SKP08ELkB/J/mM9JTpkOol3USAX00TGEMvTGsVSFQXOckIWf47sRJU2Yckjao538i5v44+f/pLtd73RJ0SevocyD+3wFDzq2CUFIzzJPRIx9maMWi5rZqzxXXqJaZr7IHCRwNgpRvwi+DU+sd6afzUmh8jGh8LaMiQDklZaC5kEFoqkIDDFHgXKULnC1glnnbnxGK7qLEDin1DQFH7EdCUzkGC0F/IIPRPIJHg3yBFbLsClq3bA3Lyw5M7hlKgUdWqsCanTa6cBNVfwYS+ZNJZa30CeySnsjidFD+BA17GJn4yuYhWmmlQj2oD6HtSI1MLtcQWReMmSXR307imYeuECQMlcSUbSmVVRDXi6N7FSe7nXwEj6JW4psmh4ifAPJy8komlUwQ+YTdVk9tS15sYOSGzpmwfI0NIH7UZ9FJAlLF8uRaoiZidwzfaSKgrPS2O10+Hyx7j4muWX1fTTlOjuaW1rb2js6u7p7ev627s/eDCwQxorFxXgV1Ds6ttyWev3inWJTPNBfQ43iCMVwM0GIavkZHMRrJmF02JVem8xQW9Omb/xfsARycKLHhc8ec9zdNBu5oGSXZwN4UV5XAm3xCO5nLNRwdn9np03cUQlkhK30UNoTNbWwAA') format('woff2'),
  url('iconfont.woff?t=1555314736829') format('woff'),
  url('iconfont.ttf?t=1555314736829') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1555314736829#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e60b";
}

.icon-weight:before {
  content: "\eb90";
}

.icon-burndowncharticon:before {
  content: "\e615";
}

.icon-icarrowdown:before {
  content: "\e602";
}

.icon-icarrowup:before {
  content: "\e605";
}

.icon-medium_priority1:before {
  content: "\e750";
}

.icon-daibanshixiang:before {
  content: "\e641";
}

.icon-Issue:before {
  content: "\e625";
}

.icon-comments:before {
  content: "\e604";
}

.icon-low_priority1:before {
  content: "\e669";
}

.icon-high_priority1:before {
  content: "\e74f";
}

.icon-Commit:before {
  content: "\e6cf";
}

.icon-xiangmu:before {
  content: "\e64c";
}

.icon-wancheng:before {
  content: "\e667";
}

.icon-link:before {
  content: "\e60c";
}

.icon-mux-task-doing:before {
  content: "\e6ba";
}

