- content_for :scripts do
  = javascript_pack_tag 'issues'
- content_for :styles do
  = stylesheet_pack_tag 'issues'

#issues-app{data: issues_data, 'v-loading': 'loading', 'element-loading-text': '加载中'}
  #filter{data: filter_data}
    %issues-filter
  %el-container
    %el-aside{width: '400px'}
      %issues-list{':issues': 'issues'}
    %el-main
      %sidebar{':detail-issue': 'detailIssue'}
