- content_for :scripts do
  = javascript_pack_tag 'issues'
- content_for :styles do
  = stylesheet_pack_tag 'issues'

#issues-app{data: issues_data, 'v-loading': 'loading', 'element-loading-text': '加载中'}
  #filter
    %issues-filter
  .box
    %el-container
      %el-aside{':width': "asideWidth + 'px'"}
        %issues-list{':issues': 'issues', ':total-height': 'height', ':clicked': 'detailIndex', ':total': 'total', ':total-weight': 'totalWeight'}
      %el-main
        %sidebar{':detail-issue': 'curIssue', ':raw-issue': 'rawIssue', ':detail-index': 'detailIndex', ':total-height': 'height', ':total-width': 'width', ':divider': 'divider'}

:css
  .el-main {
    padding: 0;
  }

  .el-main, .el-aside {
    overflow: inherit;
  }

  .el-aside {
    min-width: 300px;
  }

  #issues-app {
    height: 100%;
  }

  #filter {
    height: 45px;
  }
