- content_for :scripts do
  = javascript_pack_tag 'issues'
- content_for :styles do
  = stylesheet_pack_tag 'issues'

#issues-app{data: issues_data}
  #filter{data: filter_data}
    %issues-filter
  %el-container
    %el-aside{width: '400px'}
      %issues-list{':issues': 'issues'}
    %el-main
      %sidebar
