- content_for :scripts do
  = javascript_pack_tag 'team_events'
- content_for :styles do
  = stylesheet_pack_tag 'team_events'

#team-events-app.small-container
  .page-title-holder
    .page-title 团队事件列表
    .page-title-controls
      %a.el-button{href: new_classroom_team_event_path} 新建团队事件
  .content-list
    - @events.each do |event|
      .card
        .card-title.clearFloat
          %span
            %a{href: classroom_team_event_path(id: event.id)}= event.name
        .card-info
          = event.description