- content_for :scripts do
  = javascript_pack_tag 'boards'
- content_for :styles do
  = stylesheet_pack_tag 'boards'

#boards-app{'v-loading': 'loading', 'element-loading-text': '加载中'}
  %el-container
    %el-aside{':width': "asideWidth + 'px'", 'style': 'padding-right: 10px'}
      %issues-list{':issues': 'todoIssues', ':total-height': 'height', ':clicked': 'detailIndex', ':total': 'todoTotal', ':total-weight': 'todoTotalWeight', 'label': 'todo', ':cur-label': 'curLabel', ':is-box': 'isBox.todo', ':can-drag': 'true'}
    %el-aside{':width': "asideWidth + 'px'", 'style': 'padding-right: 5px;padding-left: 5px'}
      %issues-list{':issues': 'doingIssues', ':total-height': 'height', ':clicked': 'detailIndex', ':total': 'doingTotal', ':total-weight': 'doingTotalWeight', 'label': 'doing', ':cur-label': 'curLabel', ':is-box': 'isBox.doing', ':can-drag': 'true'}
    %el-aside{':width': "asideWidth + 'px'", 'style': 'padding-left: 10px'}
      %issues-list{':issues': 'doneIssues', ':total-height': 'height', ':clicked': 'detailIndex', ':total': 'doneTotal', ':total-weight': 'doneTotalWeight', 'label': 'done', ':cur-label': 'curLabel', ':is-box': 'isBox.done', ':can-drag': 'true'}
    %el-main{'v-if': 'detailVisible'}
      %sidebar{':detail-issue': 'curIssue', ':raw-issue': 'rawIssue', ':detail-index': 'detailIndex', ':total-height': 'height - 1', ':total-width': 'width', ':divider': 'divider'}

:css
  .el-main {
    padding: 0;
  }

  .el-main {
    overflow: inherit;
  }

  .el-aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
  }

  #boards-app {
    height: 100%;
  }