- content_for :scripts do
  = javascript_pack_tag 'burndown'
- content_for :styles do
  = stylesheet_pack_tag 'burndown'

#burndown-app{data: {issues: issues_data, sprints: sprints_data}, 'v-loading': 'loading', 'element-loading-text': '加载中', ':style': "{height: height + 'px'}"}
  %detail-sprint{':sprint': 'milestone'}
  .chart{'v-if': 'isShow'}
    .change-tab
      %el-radio-group{'v-model': 'yAxisOption', '@change': 'changeYAxis', 'size': 'mini'}
        %el-radio-button{'label': '任务数'}
        %el-radio-button{'label': '权重'}
    %v-chart{':options': 'burnOption'}
  .alert{'v-else': 'isShow'}
    %el-alert{'title': '请为冲刺添加开始日期和截止日期', 'type': 'error', ':closable': 'false', 'show-icon': '', 'description': '设置开始日期和结束日期后才能正常显示燃尽图'}

:css
  #burndown-app {
    overflow-y: auto;
  }

  #burndown-app > * {
    width: 60%;
    margin: 10px auto;
    min-width: 400px;
  }

  .echarts {
    margin: auto;
    width: 100%;
  }

  .change-tab {
    margin: 10px auto;
  }

